body{
    background-image: url(./static/indexpage_background.jpeg);
}

.pageheading{
    display: flex;
    background-color: gray;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 3rem;
    padding: 10px 10px;
    padding-right: 10px;
} 

.pageheading .navmenu {
    text-decoration: none;
}

.pageheading .navmenu a{
    text-decoration: none;
    font-weight: 300;
}

.content{
    background-color:gray;
    
}

